{% load static i18n %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Reset Your Password</title>
</head>
<body>
<p>
    {% trans "Xin chào bạn" %}<br>
    <p>{% trans "Bạn nhận được email này vì đã yêu cầu đổi mật khẩu tại trang web của Giáo đoàn công giáo Việt Nam tại Nhật." %}</p> 
    <p>{% trans "Xin nhấp vào nút xác thực phía dưới và làm theo hướng dẫn sau đó. Nếu không phải bạn xin vui lòng bỏ qua." %}<p><br>
    <a href="{{ redirect }}/auth/password/verify/?code={{ code }}">
        <button style="background: #f54642; width: 12rem;padding: 0.5rem 0rem;border: none; color: white;cursor: pointer;border-radius: 30px;font-weight: bolder;font-size: 1rem;">
            {% trans "Click here!" %}
        </button>
    </a>
    {% trans "Chúc bạn một ngày an lành." %}
    <br><h4>{% trans "Giáo đoàn Công giáo Việt Nam tại Nhật Bản" %}</h4>
</p>
</body>
</html>
